<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>About Collective</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <div id="title"><a href="/">Collective</a></div>
    <div id="description">
        <p>
            Collective is a persistent multiplayer social game where players engage in a
            game of word association and group mind reading.<br><br>
            Each player is presented the same randomly generated adjective and set of
            nouns. They then select the noun that they most associate with the given adjective
            while keeping in mind the noun they believe the other players will select.
            The players who selected the most voted for noun each receive a point and a
            new game begins.<br><br>
            Each game takes exactly 1 minute to take play.
            The first 50 seconds of each minute are given to the players to select the noun,
            9 seconds are given to the players to view the results of the game,
            and finally 1 second is given for new words to be generated for the next game.<br><br>
            Collective was developed using <a href="http://nodejs.org/" target="_blank">node.js</a>,
            <a href="http://expressjs.com/" target="_blank">express</a>, and
            <a href="http://socket.io/" target="_blank">socket.io</a>.<br><br>
            The source code for Collective is available <a href="https://github.com/MaxwellP/Persistent-Social-Game" target="_blank">here</a>.
        </p>
    </div>
</body>
</html>