<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Collective</title>
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/game.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <div id="title">Collective</div>
    <div id="login-register">
        <input id ="l-r-name" type="text" placeholder="Name..."/>
        <input id ="l-r-pass" type="password" placeholder="Password..."/>
        <button id="login" onclick="login()">Login</button>
        <button id="register" onclick="register()">Register<br>Enter your desired name and password</button>
    </div>
    <div id="game">
        <div id="time">THIS IS A COUNTDOWN</div>
        <div id="time-message">THIS IS A COUNTDOWN</div>
        <div id="state">THIS IS A STRING</div>
        <div>
            <div class="adjs section group">
                <div class="col span_1-3"></div>
                <div class="col span_1-3">
                    <div class="card adj" id="game-adj">THIS IS A STRING</div>
                </div>
                <div class="col span_1-3"></div>
            </div>
            <div class="nouns section group">
                <div class="col span_1-3">
                    <div class="card noun" id="game-noun1" onclick="input1()">THIS IS A STRING</div>
                </div>
                <div class="col span_1-3">
                    <div class="card noun" id="game-noun2" onclick="input2()">THIS IS A STRING</div>
                </div>
                <div class="col span_1-3">
                    <div class="card noun" id="game-noun3" onclick="input3()">THIS IS A STRING></div>
                </div>
            </div>
        </div>
    </div>
    <div id="player">
        <div id="player-id"></div>
        Username: <div id="player-name"></div><br>
        Record: <div id="player-numWins"></div>/<div id="player-numGames"></div>
    </div>
    <div id="results">THIS IS A TABLE</div>
    <div id="about">
        <a href="./views/about">About Collective</a>
    </div>
    <div id="credits">
        <a href="http://maxperlman.com" target="_blank">Designer and Developer: Maxwell Perlman</a>
    </div>
</body>
</html>